

<div class="container">
    <div class="jumbotron">
        <h1>That's my own sign up page!</h1>
        <h2>...tracking app activity better than the NSA since 1899</h2>
        <a href="/user/signupform" class="btn btn-lg btn-success">Sign up now!</a>
    </div>
</div>