<div class="container">
    <div class="jumbotron">
        <h1>Sign Up Now!</h1>

    </div>
    <form action="/user/create" method="post">
        <input name="loginName"/>
        <input name="email"/>
        <input name="encryptedPassword"/>
        <button type="submit">Open an Account</button>
    </form>
</div>

